.Expertbody{
    width: 70%;
    height:320px;
    background: white;
    margin: auto;
    font-family: unset;
    margin-bottom: 20px;
    
    
}
.ExpertHead{
    text-align: left;
    width: 100%;
    margin-left: 25px;
    font-size: 23px;
    font-weight: 600;
    
}
.ExpertData{
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    font-size: 15px;
   
    
}
#Expertimage>img:hover{
    width: 300px;
    cursor: pointer;
   

    
}

   

    
