.carouselBox{
    display: flex;
    overflow: auto;
    padding:0 50px;
    width: 90%;
    margin: auto;
    position: relative;
    box-sizing: border-box;
    background-color: white;
}
.carouselBox::-webkit-scrollbar{
    visibility: hidden;
}
.jobCards{
    width: 150px;
    border: 1px solid rgba(110, 109, 109, 0.322);
    border-radius: 2px;
    margin: 0 10px;
    background-color: #f5f5f5;
    padding: 10px;
    text-align: left;
    
}
.jobCards *{
    margin: 0;
    font-size: 12px;
}
.ellipsis{
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden; 
    color: teal;
    width: 150px;
}
.carouselBoxMain{
    text-align: left;
    margin:auto;
    width: 1000px;
    border: 1px solid rgba(151, 151, 151, 0.322);
    padding: 15px;
}
.prevBtn{
    position: absolute;
    left: 0px;
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
}
.nextBtn{
    position: absolute;
    right: 00px;
    z-index: 2;
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    padding:0 10px;
}
.nextBtn >button,.prevBtn>button{

    padding: 5px 12px;
    border-radius: 50%;
    border: 2px solid rgb(121, 120, 120);
    font-weight: 800;
    font-size: 18px;
    background-color: white;

}