.mainDiv {
  box-sizing: border-box;
  width: 50%;
  margin: auto;
  /* border: 2px solid red; */
  text-align: left;
  padding:10px;
}
/* div>h1,div>p{
    margin: 0px;
    text-align: center;
} */
.socialLinks {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.socialLinks > button {
  width: 200px;
  border-radius: 10px;
  height: 45px;
}
.socialLinks > button:first-child:hover {
  background-color: rgb(182, 43, 43);
}
.socialLinks > button:last-child:hover {
  background-color: rgb(126, 126, 245);
}
.socIcons {
  width: 15px;
  margin: 0px 5px;

}
.inp{
    width:92%;
    margin:5px;
    height: 27px;
    margin: 20px;
    padding:5px;

}
.selec{
    width:80%;
    margin:5px;
    margin-left: 3px;;
    height: 29px;
}
.sel{
    width: 95%;
    height:35px;
    margin: 20px;
}
.pincode{
    width: 7%;
    height:35px;
    margin: 20px;

}
.btn{
    margin-left:60%;
    background-color: rgb(119, 190, 12);
    width: 200px;
    height:40px;
    border:none;
    font-size:20px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}
.resume{
    width:80%;
    background-color: rgb(245, 239, 239);
    margin:20px;
    height: 30px;
    font-size: 20px;
    padding: 3px;
    border: 2px solid white ;
    margin-top: 5px;
}
.label{
    width:90%;
    margin:5px;
    margin-top: 15px;
    height: 30px;
    margin: 20px;
    padding:5px; 
}
.goo{
  /* border :2px solid greenyellow; */
  margin-top:0px ;
  font-size: 14px;
}
.res{
  height: 50px;
  width :450px;
}
.para{
  color: rgb(119, 118, 118);
  font-size: small;
  
}