body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,input:focus{
outline: none;
}
button{
  cursor: pointer;
}
.flexBox{
  display: flex;
  justify-content: center;
}